name: MLOps Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Kodları Çek
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. Python Kur
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    # 3. Kütüphaneleri Yükle
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 4. Kod Kontrolü
    - name: Test Code Integrity
      run: |
        python -m py_compile src/app.py
        python -m py_compile src/train_model.py
        echo "✅ Kodlarda sözdizimi hatası yok."

    # 5. Docker Testi
    - name: Build Docker Image
      run: |
        docker build -t mlops-project:latest .
        echo "✅ Docker imajı başarıyla oluşturuldu."
